body {
    /*background-color: #212429;*/
    background-color: #020e1c;
    overflow-x: hidden;
}
h2 {
    color: #f5f6f8;
}
.auto{
    margin:auto;
}
.page-title{
    padding:8px;
}
.chart{
    padding:12px;
}
.Chart-partition {
    /*background-color: #17202d;*/
    background-color: #151e2b;
    height: 290px;
    border-radius: 8px;
    padding: 8px;
}
.h-170 {
    height:170px;
}
.h-110{
     height:115px;
     margin-top:5px ;
} 
.Chart-partition div {
    width: auto;
    padding:4px 1px;
    height: auto;
    text-align: center;
}
.balance{
    width:80% !important;
    text-align:left !important;
    margin:auto;
} 
.Chart-partition div div img {
    display: block;
    margin: 4px auto;
    width: 22px;
    height: auto;
}
       
.income-icon {
    width: 45px !important;
    height: 45px !important;
    text-align: center !important;
    background-color: rgba(75, 192, 192, 0.11) !important;
    border-radius: 8px;
    display: inline-block;
    border: none !important;
    padding:8px !important;
}
.expense-icon {
    width: 45px !important;
    height: 45px !important;
    text-align: center;
    background-color: rgba(255, 99, 132, 0.13) !important;
    border-radius: 8px;
    display: inline-block;
    border: none !important;
    padding: 8px !important;
    
}
.report-part {
        display: inline-block;
        padding: 8px !important;
        height: auto !important;
        margin: auto;
    }
/*.Chart-partition div:first-child {
    border-bottom: 4px solid #404348;
}*/
    .report-part h3 {
        color: white;
        text-align: left;
        margin: 0px;
        font-size:18pt;
    }
    .report-part h5 {
        color: white;
        text-align: left;
        margin: 0px;
        font-size: 14pt;
    } 
    .report-part p {
            color: #abaeb3;
            text-align: left;
            margin: 0px;
        }

.line {
    width: 75% !important;
    height: 1px !important;
    margin: auto;
    background-color: #020e1c;
    border-radius: 4px;
}
/*section Reports*/
.filter-reports{
    list-style:none;
    padding:1px;
   
}
    .filter-reports li {
        display: inline-block;
        padding: 8px 12px;
        border: 0.8px solid #151e2b;
        border-radius: 30px;
        cursor: pointer;
        margin: 2px;
    }
.filter-reports li a{
    color:white !important;
}

        .filter-reports li:hover {
            background-color: #151e2b;
        }
.filter-active {
    background-color: #151e2b;
}
.Date {
    display:none;
}
    .Date input {
        border: none;
        border-radius: 8px;
        margin: 2px 8px;
    }
.Date-submit{
    width:auto;
}
.Date i{
    color:#abaeb3;
}
.finance-reports {
    background-color: #151e2b;
    height: auto;
    border-radius: 24px;
    padding: 16px;
}
   

.pins {
    width: 16%;
    height: 6px;
    background-color: #020e1c;
    margin: auto;
    border-radius: 8px;
}
    .title-report {
        height: auto;
        margin: 4px auto;
        padding: 8px 16px;
    }
.expense-border {
    border-left: 4px solid #d84c3b;
}
.income-border {
    border-left: 4px solid rgba(75, 192, 192, 1.00);
}
.title-report h3,h5{
    color:white;
    text-align:left;
    margin:0px;
}
    .title-report p {
        color: #abaeb3;
        text-align: left;
        margin: 0px;
    }
.description {
    margin: 4px auto;
    padding: 8px;
}
    .description p {
        width:auto;
        color: #abaeb3;
        text-align: left;
        margin: 0px;
    }
.finance-reports div:last-child {
    width:100%;
    margin: 4px;
    padding: 8px;
    text-align:right;
    direction:rtl;
}
    .finance-reports div:last-child div {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        /*background-color: #c38dff;*/
        border: 0.5px solid #c086fe;
        cursor: pointer;
        text-align:center;
        padding-top:8px;
    }
        .finance-reports div:last-child div i {
            color: #c38dff;
        }
            .finance-reports div:last-child div h4{


            } .finance-reports div:last-child div:hover {
                background-color: #c086fe;
            }
            .finance-reports div:last-child div:hover i {
                color: #18032e;
            }


.mobile-m div {
    margin: auto;
}
.isntpay {
    color: #abaeb3;
    position: absolute;
    right: 24px;
    top: 16px;
}
#progressbar{
    border:none;
    background-color:#020e1c;
    width:90%;
    margin:auto;
    height:10px;
    padding:0px;
}
    #progressbar div {
        background-color: rgba(54, 162, 235, 0.89);
        border:none;
    }
/*Menu-Finance*/
.profile-btn {
    float: right;
    margin: 12px 0px;
}
    .profile-btn div {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #151e2b;
        cursor: pointer;
        text-align:center;
        padding-top:7px;
        display:inline-block;
    }
        .profile-btn div i {
            
            color: #abaeb3;
        }
/*Mobile Responsive*/
@media(max-width:991px) and (min-width:767px) {
    #DoughnutChart {
        margin: auto;
        width: auto !important;
        height: 250px !important;
    }
}

@media(max-width:575px) {
    .Chart-partition {
        height: auto ;
    }
    .chart{
        padding:4px;
    }
    .h-110{
        margin-top:8px;
    }
}
@media(max-width:575px) {
    .filter-reports {
        margin: auto;
        text-align: center;
    }

    .page-title {
        text-align: center;
    }

    .chart:last-child {
        display: none;
    }
    #Finance-menu{
        margin-top:0px;
        background-color:#151e2b;
        bottom:0px ;
        top:unset;
        height:50px;
        position:fixed;
    }
    #Finance-menu .logo-holder{
        display:none;
    }
    #Finance-menu .main-menu {
        display: none;
    }
    #Finance-menu .profile-btn {
        display: none;
    }
    .nav-bottem 
    {
        text-align:center;
        position:relative;
    }
        .nav-bottem div {
            width: 20%;
            height: auto;
            text-align: center;
            padding-top: 8px;
            position: relative;
            margin:auto;
            padding:8px;
            /*border:1px solid blue;*/
        }
    .nav-bottem div i{
        color:#abaeb3;
        display:contents;
    }
    .diamond {
        width: 50px !important;
        height: 50px !important;
        background-color: #151e2b;
        transform: rotate(45deg);
        /*position:absolute !important;*/
        /*bottom:18px ;*/
        border-radius:4px;
        margin-top:-58px !important;
        /*border-bottom:10px solid #020e1c;
        border-right:10px solid #020e1c;*/
        box-shadow:5px 5px 1px #020e1c;
       
    }
        .diamond p {
          
            color: #abaeb3;
            transform: rotate(46deg) !important;
        }
        .diamond:hover {
            box-shadow: 6px 6px 4px #020e1c;
            cursor:pointer;
        }
}

@media(max-width:991px) {
    .chart:last-child div{
        height: auto;
        
    }
    
}
@media(min-width:575px){
    .nav-bottem{
        display:none;
    }
}
